body {
    background-color: darkgray;
}

h1 {
    color: white;
    background-color: lightgrey;
    text-align: center;
}

#search {
    text-align: center;
}

#remove {
    background-color: red;
    color: white
}

#add {
    background-color: green;
    color: white;
}

#gif-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gif-display>div {
    margin: 10px;
}