/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.blocked {
  background-color: #115ff4;
  cursor: pointer;
}

.question-mark {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  color: #115ff4;
  font-weight: bold;
  font-size: 16px;
}